/* ==========================
   GLOBAL
========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #020617;
    color: white;
    line-height: 1.6;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h2 {
    font-size: 36px;
    margin-bottom: 40px;
}


/* ==========================
   HEADER
========================== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #0f172a;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.logo-container {
    display: flex;
    align-items: center;
}


.logo-container img {
    height: 55px;
    width: auto;
    max-width: 220px;
    object-fit: contain;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color:white;
    text-decoration:none;
    margin-left:30px;
    font-weight:bold;
    transition:.3s;
}

nav a:hover {
    color:#38bdf8;
}

/* ==========================
   HERO
========================== */

.hero {
    min-height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:80px 20px;
    background:

    radial-gradient(
        circle at top,
        #1e40af,
        transparent 35%
    ),

    linear-gradient(
        135deg,
        #020617,
        #0f172a
    );

}

.hero-content {
    max-width:850px;
}

.hero h1 {
    font-size:60px;
    margin-bottom:25px;
}

.hero p {
    font-size:20px;
    color:#cbd5e1;
    max-width:750px;
    margin:auto;
}

/* ==========================
   BUTTONS
========================== */

.btn {
    display:inline-block;
    padding:14px 30px;
    margin:10px;
    background:#38bdf8;
    color:#020617;
    text-decoration:none;
    font-weight:bold;
    border-radius:50px;
    transition:.3s;
}

.btn:hover {
    background:#7dd3fc;
    transform:translateY(-3px);
}

.secondary-btn {
    background:transparent;
    color:white;
    border:2px solid #38bdf8;
}

.secondary-btn:hover {
    background:#38bdf8;
    color:#020617;
}

/* ==========================
   SECTIONS
========================== */


section {
    padding:80px 8%;
    text-align:center;
}

.cards {
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.card {
    width:300px;
    padding:35px;
    background:

    linear-gradient(
        145deg,
        #1e293b,
        #0f172a
    );

    border-radius:20px;
    border:1px solid rgba(255,255,255,.1);
    transition:.3s;
}

.card:hover {
    transform:translateY(-8px);
    border-color:#38bdf8;
}

.card h3 {

    color:#38bdf8;

    margin-bottom:15px;

}

.card p {

    color:#cbd5e1;

}

