*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:Arial, Helvetica, sans-serif;

color:#222;

line-height:1.6;

}



a{

text-decoration:none;

}



h1,h2,h3{

line-height:1.2;

}





.navbar{

background:#111;

color:white;

padding:20px 8%;

display:flex;

justify-content:space-between;

align-items:center;

}



.logo{

font-size:1.8rem;

font-weight:bold;

}


.logo span{

display:block;

font-size:.8rem;

color:#d62828;

letter-spacing:2px;

}



.nav-links{

display:flex;

gap:30px;

list-style:none;

}


.nav-links a{

color:white;

}



.call-btn{

background:#d62828;

color:white;

padding:12px 25px;

border-radius:5px;

}





.hero{


min-height:85vh;


background:

linear-gradient(
rgba(0,0,0,.65),
rgba(0,0,0,.65)
),

url("./monkeywrench/hero.jpg");



background-size:cover;


background-position:center;


display:flex;

align-items:center;


padding:8%;


color:white;


}



.hero-content{

max-width:700px;

}



.hero h1{

font-size:3.5rem;

margin-bottom:20px;

}



.hero p{

font-size:1.2rem;

margin-bottom:30px;

}





.btn{

padding:15px 30px;

border-radius:5px;

display:inline-block;

font-weight:bold;

margin-right:10px;

}



.primary{

background:#d62828;

color:white;

}



.secondary{

background:white;

color:#111;

}






.trust{

display:grid;

grid-template-columns:repeat(4,1fr);

background:#d62828;

color:white;

padding:35px 8%;

text-align:center;

}





.section{

padding:70px 8%;

text-align:center;

}




.services{

background:#f5f5f5;

padding:70px 8%;

text-align:center;

}




.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-top:40px;

}



.card{

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 10px 25px rgba(0,0,0,.1);

}



.card h3{

color:#d62828;

margin-bottom:15px;

}





.dark{

background:#111;

color:white;

}



.dark li{

margin:15px;

}




.cta{

background:#d62828;

color:white;

padding:70px 8%;

text-align:center;

}




footer{

background:#111;

color:white;

text-align:center;

padding:40px;

}





@media(max-width:900px){


.navbar{

flex-direction:column;

gap:20px;

}


.nav-links{

flex-direction:column;

text-align:center;

}


.hero h1{

font-size:2.3rem;

}


.trust{

grid-template-columns:1fr;

}



.cards{

grid-template-columns:1fr;

}


}